[submodule "vim"]
	path = vim
	url = git@github.com:alibenD/vim.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "fonts"]
	path = fonts
	url = git@github.com:powerline/fonts.git
